:root {
  --mat-toolbar-container-background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  .font-dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
  }
  .sidenav-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    @apply text-indigo-300;
    @apply hover:text-indigo-200;
    @apply text-xl;
    @apply font-light;
    transition: color .4s;
  }
  .sidenav-item:first-of-type {
    @apply -mt-[2px]
  }
  .sidenav-link .active {
    @apply underline-offset-4;
    @apply font-bold;
  }
  .sidenav-item {
    @apply my-6
  }
}
